 .app-container {
    display: flex;
 }

 .content {
    width: 100%;
 }

 .Sidebar-container {
    min-height: 705px;
 }
.post-card {
   margin: 50px 50px;
   min-width: 30rem;
}
.hashtag {
margin: 0px 3px;
}
.reaction {
  
   margin: 15px 0 0 0 ;
}
.create-post {
   width: 80%;
   margin-left: 10%;
   margin-top: 50px;
}

.WelMess {
   margin: 100px 0;
}

.loader {
   border: 16px solid #f3f3f3; /* Light grey */
   border-top: 16px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 .load {
   margin-top: 50%;
 }